* {
  background-color: #4c72bd;
}

.App {
  margin-top: 2%;
  text-align: center;
}

.App h1{
  color: white;
}

.App strong {
  color: #1f373b;
}

.foto {
  height: 40vmin;
  pointer-events: nome;
}